#menu-0 .navbar-toggler {
  color: #000;
}
#header4-1 P {
  text-align: right;
}
#header4-1 H1 {
  text-align: center;
}
#contacts3-a P {
  color: #ffffff;
}
#menu-b .navbar-toggler {
  color: #000;
}
#contacts3-c P {
  color: #ffffff;
}
#menu-k .navbar-toggler {
  color: #000;
}
#contacts3-o P {
  color: #ffffff;
}
#menu-p .navbar-toggler {
  color: #000;
}
#contacts3-t P {
  color: #ffffff;
}
#menu-u .navbar-toggler {
  color: #000;
}
#contacts3-y P {
  color: #ffffff;
}
#menu-z .navbar-toggler {
  color: #000;
}
#contacts3-12 P {
  color: #ffffff;
}
